<form action="/park/salvarSenha" method="post">
  <div class="row">
    <div class="col-lg-12">
      <label>Nova Senha</label>
      <input type="password" class="form-control" name="password" placeholder="Nova senha">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <input type="submit" class="form-control" value="Salvar">
    </div>
  </div>
</form>
