<link href="/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
<script src="/bower_components/bootstrap-switch/dist/js/bootstrap-switch.min.js"></script>
<script>
$(function(){
  $("#mensalistaSwitch").bootstrapSwitch({
    state: false,
    offColor: 'danger',
    onText: 'SIM',
    offText: 'NÃO',
    labelText: 'Mensalista'
  });
});

</script>

<form action="/park/salvarTicket" method="post">
  <div class="row">
    <div class="col-lg-3">
      <label>Placa do Veículo</label>
      <input type="text" class="form-control" placeholder="AAA-9999" name="placa">
    </div>

    <div class="col-lg-3">
      <label>Telefone</label>
      <input type="text" class="form-control" placeholder="(XX) 99999-9999" name="telefone">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-3">
      <input type="checkbox" class="form-control" name="mensalista" value="true" id="mensalistaSwitch">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-offset-4 col-lg-4">
      <input type="submit" class="form-control">
    </div>
  </div>
</form>
