<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <td></td>
      <td>
        Placa
      </td>
      <td>
        Horário da Entrada
      </td>
      <td>
        Valor Atual
      </td>
      <td>
        Ações
      </td>
    </tr>
  </thead>
  <tbody>
    <% while(tickets.length) { %>
      <% var ticket = tickets.pop() %>
      <tr>
        <td>
          <span class="fa fa-<%- ticket.vehicleType === 'Automóvel' ? 'car' : 'motorcycle' %>">
          </span>
        </td>
        <td>
          <%- ticket.licensePlate %>
        </td>
        <td>
          <%- ticket.entranceDate %>
        </td>
        <td>
          Valor calcular
        </td>
        <td>
          <a href="#">Fechar Ticket</a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>
