<!-- Header -->
<a name="about"></a>
<div class="intro-header">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <img class='img-responsive' src="/images/smartpark.png" alt="" />
          <h3>Não perca tempo procurando por vagas!</h3>
          <hr class="intro-divider">
          <ul class="list-inline intro-social-buttons">
            <li>
              <a href="/app"><img src="/images/badge-apple.svg" class="download-badge"></span></a>
            </li>
            <li>
              <a href="/app"><img src="/images/badge-google.png" class="download-badge"></a>
            </li>
            <li>
              <a href="/app"><img src="/images/badge-windows.png" class="download-badge"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="services"></a>
<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Se você procura por uma vaga</h2>
        <p class="lead">Não perca mais tempo procurando por vagas, procure entre estacionamentos públicos e privados a vaga mais próxima do seu destino.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="/images/ipad.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Se você oferece vagas</h2>
        <p class="lead">O sistema <strong>Park Fácil</strong> é perfeito para administrar estacionamentos privados, com um fácil sistema de controle de vagas.</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="/images/dog.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-b -->

<div class="content-section-a">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Google Web Fonts and<br>Font Awesome Icons</h2>
        <p class="lead">This template features the 'Lato' font, part of the <a target="_blank" href="http://www.google.com/fonts">Google Web Font library</a>, as well as <a target="_blank" href="http://fontawesome.io">icons from Font Awesome</a>.</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="/images/phone.png" alt="">
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->

<a  name="contact"></a>
<div class="banner">

  <div class="container">

    <div class="row">
      <div class="col-lg-6">
        <h2>Baixe o aplicativo agora:</h2>
      </div>
      <div class="col-lg-6">
        <ul class="list-inline banner-social-buttons">
          <li>
              <a href="/app"><img src="/images/badge-apple.svg" class="download-badge-mini"></span></a>
            </li>
            <li>
              <a href="/app"><img src="/images/badge-google.png" class="download-badge-mini"></a>
            </li>
            <li>
              <a href="/app"><img src="/images/badge-windows.png" class="download-badge-mini"></a>
            </li>
        </ul>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.banner -->
