<div class="container app-nav-bar">
  <div class="row">
    <div class="col-sm-12">
      <div class="input-group input-group-lg">
        <span class="input-group-btn" style="z-index: 9999;">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-menu-hamburger"></i></button>
        </span>
        <input type="text" class="form-control" placeholder="Procurar..." id="search-box">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
    </div>
  </div>
</div>

<div id="map" style="width: 100%; height: 100%;"></div>
<div
id="infos"
style="width: 100%; height: 150px; position: absolute; bottom: -500px; display: none; left: 0px; background: #fff;"
class="text-center">
</div>

<script src="/js/_jquery.js"></script>
<script>
  $(document).ready(function () {
    $('#infos').click(function () {
      // $('#map').css('height', '100%');
      $('#infos').hide();
      $('#infos').css('bottom', '500px');
    });
  });
</script>
<script src="/bower_components/js-marker-clusterer/src/markerclusterer.js"></script>
<script src="/js/v1/app_loaders.js"></script>
<script src="/js/v1/app_helpers.js"></script>
<script src="/js/v1/app.js"></script>
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyBvwR7pgSoRn7zoDqGaTNzX-7qsXufPKc8&callback=initMap&libraries=places"></script>
